
/*my old stuff */
/*/* FONTS */
@import url('http://fonts.googleapis.com/css?family=Josefin+Sans');
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");
/*@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");*/
/*@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}*/
html * {
  font-family: 'Josefin Sans', sans-serif;
  /*font-size: 50px;*/
}

body {
    background-image: url("../images/polygons.png");
    
    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;
    
    /* Background image doesn't tile */
    background-repeat: no-repeat;
    
    /* Background image is fixed in the viewport so that it doesn't move when 
       the content's height is greater than the image's height */
    background-attachment: fixed;
    
    /* This is what makes the background image rescale based
       on the container's size */
    background-size: cover;
    
    /* Set a background color that will be displayed
       while the background image is loading */
    background-color: #464646;
    /*background-size: 100%;*/
    /*background-repeat:no-repeat;*/
    /*background-size:contain;*/
    /*background-position:center;*/
    /*background: opacity: 0.5;*/
    /*font-size: 18px;*/
    
    
}

 .clearfix {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}


 .main {
	display: block;
	margin-left: auto;
	margin-right: auto;
}


.content {
	margin-left: auto;
	margin-right: auto;
  line-height: 30px;
  margin-top: 50px;
  font-size: 18px;

	/*background-color: gba(255, 255, 255, 0.8);*/
}

.content ul {
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	list-style-type: none;
	text-align: center;
	padding-left: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 25%;
	/*background-color: rgba(255, 255, 255, .7);*/

}

.content ul li {
	margin-top: 5px;
	margin-left: 0px;
	margin-bottom: 5px;

}

.content p {
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	list-style-type: none;
	text-align: center;
  line-height: 10px
	padding: 10px;
	width: 50%;
	/*background-color: rgba(255, 255, 255, .7);*/

}

div ul li a {
	color: grey;
	text-decoration: none;
	font-weight: regular;

}

.content p a {
	color: grey;

}
a:link {
	color: grey;
	text-decoration: none;
	font-weight: regular;
}

a:hover {
	color: grey;
	background-color: rgba(255, 255, 255, 0.8);
}

h2 {
	color: grey;
	text-align: center;
	margin-bottom: 5px;
  font-weight: lighter;
  font-size: 45px;
}

.menu {
	text-align: center;
  margin-top: 20px;
}

.menu ul {
	display: inline-block;
	list-style-type: none;
	margin: 0;
	padding: 0;

}

.menu li {
	float: left;
	padding: 2px 30px;
/*  border-right: solid 1px grey;
*/border-left: solid 1px grey;
}

.menu #first-nav-item{
  border-left: none;

}

.header {
	width: 500px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color: rgba(255, 255, 255, .7);
  margin-top: 100px;

	
}

figcaption {
	text-align: center;
	font-size: .5em;
}

#projects {
  height: 300px;
  overflow-x: hidden; 
  overflow-y: auto;
  margin-top: 10px;
  font-size: 1.3em;
 
  scrollbar-base-color:#ffeaff
  overflow-y: scroll;

}

#arrow {
  margin-left: auto;
  margin-right: auto;
  width: 3%;
}
/*::-webkit-scrollbar {
    -webkit-appearance: block;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}*/



